.html,
body {
  font-family: Work-Sans, sans-serif;
  height: 100vh;
  margin: 0;
  background-color: #f6f8fa;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1800px;
  height: 863px;
  margin: 30px auto 0 auto;
  padding: 0 30px;
  background-color: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid #f6f8fa;
  padding: 1px 1px;
}

.logo {
  font-family: Work-Sans, sans-serif;
  font-weight: 100;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  line-height: 2;
  margin: 1;
}

.nav-buttons-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
  height: 100%;
  gap: 50px;
}

.nav-button {
  all: unset;
  font-family: Work-Sans, sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  color: gray;
  cursor: pointer;
}

.nav-button:focus,
.nav-button:active {
  color: black;
}
